<html>
    <head>
    	<title>Blog Magdy</title>
    </head>
    <center><h1><b><i>Blog Magdy</i></b></h1>
    <strong>Magda mówi:</strong>
    <p>Cześć! Siemka!</p>
    <p>Jak sie masz cukiereczku?</p>
    to ja <i><a href="https://www.facebook.com/insmileulooksocrazy">Magda na fejsie</a></i>
    i Magda na <a href="https://plus.google.com/+MagdaBrojek"><i>Google+</i></a>
   <br>Tutaj poczytasz nieco o moim doświadczeniu zawodowym: <a href="https://www.linkedin.com/profile/view?id=AAMAAA7sbVYBCvsVTvT7gtqNmZvHL4UQ8F4zvxU&trk=hp-identity-name"><i>Magda jako kontruktor</i></a></br>
   <div>
   	<a href="https://www.facebook.com/insmileulooksocrazy/friends">Sprawdź czy Cię lubię, hejka!</a>
   	<br></br>
   	<br><strong>Jeśli Cię nie lubię kliknij tutaj!</strong></br>
   	<a href="https://www.facebook.com/ajax/profile/link_disabled_in_viewas.php">kliku klik!</a>
    </center>
</html>